/* ROOT */
:root {
	--orage-color: #ff7500;
	--font-family-RobotoCondensed: 'Roboto Condensed';
	--font-weightBold: 700;
}

/* FONTS */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'), url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dashed var(--orage-color);
	outline-offset: 3px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	letter-spacing: 0.5px;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	border: none;
	cursor: pointer;
	padding: 12px 24px;
	background-color: var(--orage-color);
	color: #fff;
	border-radius: 4px;
	font-weight: var(--font-weightBold);
	font-size: 1.3;
	line-height: 1.2;
	letter-spacing: 0.5px;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

.site-header {
	border-top: 5px solid var(--orage-color);
	padding-top: 16px;
	padding-bottom: 16px;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.site-logo {
	margin-right: auto;
	width: 227px;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-nav {
	margin-right: 32px;
}

.site-nav__list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-nav__item:not(:last-child) {
	margin-right: 32px;
}

.site-nav__link {
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #000;
	padding-bottom: 4px;
	transition: opacity 0.4s ease, color 0.4s ease;
}

.site-nav__link:hover {
	color: var(--orage-color);
}

.site-nav__link:active {
	opacity: 0.6;
}

.active {
	border-bottom: 3px solid var(--orage-color);
}

/* HERO STRAT */
.hero {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #252420;
	margin-bottom: 210px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 367px;
	width: 100%;
	color: #fff;
}

.hero__line {
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: var(--orage-color);
	margin-bottom: 40px;
}

.hero__title {
	margin-top: 0;
	font-size: 40px;
	font-weight: var(--font-weightBold);
	letter-spacing: 0.5px;
	line-height: 1.2;
	margin-bottom: 24px;
}
.hero__text {
	letter-spacing: 0.5;
	margin-bottom: 32px;
}

.hero__img img {
	width: 510px;
	height: 510px;
	border-radius: 8px;
	margin-bottom: -152px;
}

/* FEATURES */
.features {
	margin-bottom: 210px;
}

.features-title {
	max-width: 435px;
	width: 100%;
	font-family: var(--font-family-RobotoCondensed), sans-serif;
	font-weight: var(--font-weightBold);
	font-size: 72px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 72px;
}

.features__list {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__item {
	max-width: 340px;
	width: 100%;
}

.features__item:not(:last-child) {
	margin-right: 40px;
}

.features__img-wrapper {
	width: 100px;
	height: 100px;
	background-color: rgba(255, 117, 0, 0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}

.features__item-title {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: var(--font-family-RobotoCondensed), sans-serif;
	font-weight: var(--font-weightBold);
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

.features__item-text {
	margin-top: 0;
	margin-bottom: 0;
}

/* PROMO START */
.promo {
	padding-top: 120px;
	padding-bottom: 160px;
}

.promo__container {
	display: flex;
	justify-content: space-between;
	background-color: #252420;
	padding: 64px;
	color: white;
	border-radius: 12px;
}

.promo__info {
	max-width: 440px;
	width: 100%;
	margin-right: 20px;
}

.promo__title {
	font-family: var(--font-family-RobotoCondensed), sans-serif;
	font-weight: var(--font-weightBold);
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 24px;
}

.promo__text {
	margin-top: 0;
	margin-bottom: 12px;
}

.promo__text2 {
	margin-bottom: 24px;
}

.promo__img img {
	width: 440px;
	height: 440px;
	border-radius: 12px;
	margin-top: -149px;
}
/* PROMO END */

/* FOOTER START */
.site-footer {
	padding-top: 56px;
	padding-bottom: 56px;
}

.site-footer-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.site-footer-socials {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-footer-socials li:not(:last-child) {
	margin-right: 16px;
}

.site-footer-socials a {
	color: #252420;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer-socials a:hover {
	color: var(--orage-color);
}

.site-footer-socials a:active {
	opacity: 0.6;
}

.site-footer-line {
	background-color: rgba(37, 36, 32, 0.5);
	height: 2px;
	margin-bottom: 64px;
}

.site-footer-bootom {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.site-footer-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-footer-links li:not(:last-child) {
	margin-bottom: 16px;
}

.site-footer-links a {
	text-decoration: none;
	font-size: 16px;
	line-height: 1.2;
	color: #252420;
	transition: all 0.4s ease;
}

.site-footer-links a:hover {
	color: var(--orage-color);
}

.site-footer-links a:active {
	opacity: 0.6;
}
/* FOOTER END */
